// Source Sans 3 - Body text
@font-face {
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceSans3-Light.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceSans3-LightIt.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceSans3-Regular.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceSans3-It.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceSans3-Semibold.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceSans3-SemiboldIt.ttf.woff2') format('woff2');
    font-display: swap;
}

// Source Serif Pro - Headings
@font-face {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceSerifPro-Regular.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceSerifPro-It.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceSerifPro-Semibold.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceSerifPro-Bold.ttf.woff2') format('woff2');
    font-display: swap;
}

// Source Code Pro - Code blocks
@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceCodePro-It.ttf.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/WOFF2/TTF/SourceCodePro-Medium.ttf.woff2') format('woff2');
    font-display: swap;
}
