<footer class="small-caps site-footer">
    <p>drop me an <a href="mailto:{{site.metadata.email}}">email</a> or find me on <a href="https://twitter.com/{{site.metadata.twitter.username}}" target="_blank" rel="noopener">twitter</a>, <a rel="me" target="_blank" href="https://iris.to/npub14u3cfd0l4tvd0xevkvlfj0y74878xdgdnkr9cwr0uqmv68kk9zqsqasd9s">nostr</a>, and <a href="https://github.com/{{site.metadata.github.username}}" target="_blank" rel="noopener">github</a> &mdash; {{ site.time | date: "%-d&nbsp;%b&nbsp;%Y" | downcase }}</p>
</footer>