<footer class="small-caps site-footer">
    <p>drop me an <a href="mailto:{{site.metadata.email}}">email</a> or find me on <a href="https://github.com/{{site.metadata.github.username}}" target="_blank" rel="noopener">github</a> &mdash; {{ site.time | date: "%-d&nbsp;%b&nbsp;%Y" | downcase }}</p>
</footer>